@model EmployeeManagementSystem.Models.ViewModel.BranchWiseProjectVM
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit Poject</h2>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@using (Html.BeginForm("EditMultiple", "Default", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            Branch
            <select id="BranchId" name="BranchId" class="dropdown-trigger btn" required>

                @foreach (var item in Model.BranchList)
                {
                    var Selected = item.BranchId == Model.BranchId ? "selected" : "";
                    <option value="@item.BranchId" @Selected>@item.BranchName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <div id="ProData" class="Table">
                <div id="RowData" class="Row">
                    <input type="hidden" name="ProjectId" />
                    <input type="text" name="ProjectName" placeholder="ProjectName" />
                    <input type="text" name="TeamLeader" placeholder="TeamLeader" />
                    <input type="text" name="Mamber" placeholder="Mamber" />
                    <input type="text" name="Budget" placeholder="Budget" />
                    <input type="text" name="StartDate" class="datepicker" placeholder="StartDate" />
                    <input type="file" name="imgFile" placeholder="imgFile" />

                    <a id="addRow" href="#" class="btn btn-xs btn-success"><i>Add</i></a><hr />
                </div>
                @foreach (var item in Model.ProjectList)
                {
                    var ExpireDate = item.StartDate == null ? "" : Convert.ToDateTime(item.StartDate).ToString("yyyy-MM-dd");
                    <div id="RowData" class="Row">
                        <input type="hidden" name="ProjectId" value="@item.ProjectId" />
                        <input type="text" name="ProjectName" placeholder="ProjectName" value="@item.ProjectName" />
                        <input type="text" name="TeamLeader" placeholder="TeamLeader" value="@item.TeamLeader" />
                        <input type="text" name="Mamber" placeholder="Mamber" value="@item.Mamber" />
                        <input type="text" name="Budget" placeholder="Budget" value="@item.Budget" />
                        <input type="text" name="StartDate" class="datepicker" placeholder="StartDate" value="@item.StartDate" />
                        <input type="file" name="imgFile" placeholder="imgFile" />

                        <a id="deleteRow" href="#" class="btn btn-xs btn-danger"><i>Remove</i></a>
                        <img src="@item.ImagePath" style="width:150px" />
                        <hr />
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn-small blue">
            </div>
        </div>
    </div>
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $('#addRow').on('click', function () {
        $('#ProData').append('<div id="RowData" class="Row"><input type="text" name="ProjectName" placeholder="ProjectName" /><input type="text" name="TeamLeader" placeholder="TeamLeader" /><input type="text" name="Mamber" placeholder="Mamber" /><input type="text" name="Budget" placeholder="Budget" /><input type="date" name="StartDate" placeholder="StartDate" /><input type="file" name="imgFile" placeholder="imgFile" /><a id="deleteRow" href="#" class="btn btn-xs btn-danger"><i>Remove</i></a><hr /></div>');

        $('#ProData').addClass();
        return false;
    });
    $('#ProData').on('click', '#deleteRow', function () {
        $(this).parent().remove();
        return false;
    });
    $(document).ready(function () {
        $('.datepicker').datepicker();
    });
</script>
