@model EmployeeManagementSystem.Models.ViewModel.ProjectVM
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ExpireDate = Model.StartDate == null ? "" : Convert.ToDateTime(Model.StartDate).ToString("yyyy-MM-dd");

}


<h2 class="highline">Edit Project List</h2>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@using (Html.BeginForm("Edit", "Default", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            Branch
            <select id="BranchId" name="BranchId" required>
                @foreach (var item in Model.BranchList)
                {
                    var Selected = item.BranchId == Model.BranchId ? "selected" : "";
                    <option value="@item.BranchId" @Selected>@item.BranchName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <div id="ProData" class="Table">
                <div id="RowData" class="Row">
                    <input type="hidden" name="ProjectId" value="@Model.ProjectId" />
                    <input type="text" name="ProjectName" placeholder="ProjectName" value="@Model.ProjectName" />
                    <input type="text" name="TeamLeader" placeholder="TeamLeader" value="@Model.TeamLeader" />
                    <input type="text" name="Mamber" placeholder="Mamber" value="@Model.Mamber" />
                    <input type="text" name="Budget" placeholder="Budget" value="@Model.Budget" />
                    <input type="text" name="StartDate" class="datepicker" placeholder="StartDate" value="@Model.StartDate" />
                    <input type="file" name="imgFile" placeholder="imgFile" />
                    <img src="@Model.ImagePath" style="width:150px" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-field col s2">
                <input type="submit" value="Edit" class="btn btn-default">
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker();
    });
</script>
