@model EmployeeManagementSystem.Models.ViewModel.BranchWiseProjectVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col s pull-s">
        <h4>Branch</h4>
        
        <p>
            <a href="/Default/Create" class="btn-small " >Create New</a>
        </p>
        <table class="table">
            <tr>
                <th>
                    Branch
                </th>
                <th>
                    Avaiable Project
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.BranchList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BranchName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mamber)
                    </td>
                    <td>
                        <a href="/Default/Index?id=@item.BranchId" class="btn-small blue darken-4">Details</a>
                        <a href="/Default/EditMultiple?id=@item.BranchId" class="btn-small blue">Edit</a>
                        <a href="/Default/DeleteMultiple?id=@item.BranchId" class="btn-small red darken-2" onclick="return confirm('Are you sure to delete this category with products?')">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col s7 push-s">
        <h4>Project Transfer of @Model.BranchName</h4>
        <p>
            <a href="/Default/Create" class="btn-small mediumpurple">Create New</a>
        </p>
        <table class="table">
            <tr>
                <th>
                    Branch
                </th>
                <th>
                    Project
                </th> 
                <th>
                    Team Leader
                </th>
                <th>
                    Budget
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    Member
                </th>
                <th>
                    ImagePath
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.ProjectList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BranchName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td> 
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamLeader)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Budget)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mamber)
                    </td>
                    <td>
                        <img src="@item.ImagePath" style="height:100px" width="100px" />
                    </td>
                    <td>
                        <a href="/Default/Edit?id=@item.ProjectId" class="btn-small blue">Edit</a>
                        <a href="/Default/Delete?id=@item.ProjectId" class="btn-small red darken-2" onclick="return confirm('Are you sure to delete this Project?')">Delete</a>
                    </td>

                </tr>
            }
        </table>
    </div>
</div>
