@model PagedList.IPagedList<EmployeeManagementSystem.Models.Employeetblvm>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}


@Paragraph()
<h3 class="highline">View Model Employee View List</h3>
@*<h4  class="highline2">Employee Information</h4>*@

@Html.ActionLink("Create New", "Create", "ViewModel", htmlAttributes: new { @class = "btn", @role = "button" })


@using (Html.BeginForm("Index", "ViewModel", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
}
<div>
    <table border="1" class="highlight">
        <tr>
            <th>
                @Html.ActionLink("Employee Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>Employee Address</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Date of Birth</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmployeeName</td>
                <td>@item.Address</td>
                <td>@item.Email</td>
                <td>@item.Contact</td>
                <td>@Convert.ToString(String.Format("{0:MM/dd/yyyy}", item.EmployeeDOB))</td>
                <td><img src="@Url.Content(item.ImageUrl)" height="70" width="65" /></td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }, htmlAttributes: new { @class = "btn", @role = "button edit" })</td>
                <td>@Html.ActionLink("Delete", "Delete", "ViewModel", new { id = item.EmployeeId }, htmlAttributes: new { @class = "btn", @role = "button" })</td>
            </tr>
        }
    </table>
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script>
    $(document).ready(function () {
        $('.datepicker').datepicker();
    });

    function activatejQueryTable() {
        $("#EmployeeTable").DataTable();
    }

    $(function () {
        activatejQueryTable();
    });

</script>
@helper Paragraph()
{
    <p style="color:green">
        This id my View Model
    </p>
}

